<div class="row">
    <div class="col-md-12">
        <h1>Tableau de bord étudiant</h1>
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Examens disponibles</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Description</th>
                                <th>Date de début</th>
                                <th>Date de fin</th>
                                <th>Durée</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (typeof exams !== 'undefined' && exams.length > 0) { %>
                                <% exams.forEach(exam => { %>
                                    <tr>
                                        <td><%= exam.title %></td>
                                        <td><%= exam.description %></td>
                                        <td><%= new Date(exam.startTime).toLocaleString() %></td>
                                        <td><%= new Date(exam.endTime).toLocaleString() %></td>
                                        <td><%= exam.duration %> minutes</td>
                                        <td>
                                            <a href="/student/exam/<%= exam._id %>" class="btn btn-primary btn-sm">
                                                Commencer
                                            </a>
                                        </td>
                                    </tr>
                                <% }) %>
                            <% } else { %>
                                <tr>
                                    <td colspan="6" class="text-center">Aucun examen disponible</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
